// Common
$body-bg-color: #F6F8FA;

// Header
$header-line__wrapper-bg: $white;
$header-line__wrapper-border_bottom_color: #f6f8fa;
$header-categories_icon_color: #D3EEEB;
$header-categories_icon_color_active: #1AA79C;

// Aside menu
$aside-menu__wrapper-bg: $white;
$aside-menu__wrapper_cat_text_color: #a4a4a4;
$aside-menu__wrapper-border_bottom_color: #f5f5f5;
$aside-menu__icons-color: $header-categories_icon_color;
$aside-menu__active_link_color: #1AA79C;
$aside-menu__active_link_second_color: #7ACE68; // for gradient
