// Common
$body-bg-color: #EBEEF5;

// Header
$header-line__wrapper-bg: $white;
$header-line__wrapper-border_bottom_color: #e3e4e7;
$header-categories_icon_color: rgba(3,3,3,0.24);
$header-categories_icon_color_active: rgb(161, 231, 198);

// Aside menu
$aside-menu__wrapper-bg: $white;
$aside-menu__wrapper-border_bottom_color: #e3e4e7;
$aside-menu__icons-color: $header-categories_icon_color;
