.aside__crm-menu {
    position: fixed;
    left: 0;
    top: 96px;
    bottom: 0;
    width: 280px;
    background: $aside-menu__wrapper-bg;
    border-right: 1px solid $aside-menu__wrapper-border_bottom_color;
    padding: 24px 12px;
    overflow: auto;

    &-wrapper {
        .item {
            .single-link,
            .links-group {
                width: 100%;
                font-size: 14px;
                height: 36px;
                line-height: 36px;
                cursor: default;

                & > svg {
                    color: $aside-menu__icons-color;
                    display: block;
                    font-size: 21px;
                    margin-right: 8px;
                }
            }

            .single-link {
                cursor: pointer;
                margin: 0px -12px;
                width: calc(100% + 24px);
                padding: 0px 12px;

                &.active {
                    color: $darken-green;
                    background: rgba(0,0,0,.02);
                }

                &:not(.active) {
                    &:hover {
                        background: rgba(0,0,0,.04);
                    }
                }
            }

            .links-list {
                margin: 8px -12px 16px;

                .sub-item {
                    padding-left: 48px;
                    font-size:13px;
                    display: block;
                    width: 100%;
                    margin: 4px 0px;
                    height: 30px;
                    line-height: 30px;
                    cursor: pointer;

                    &.active {
                        color: $darken-green;
                        background: rgba(0,0,0,.02);
                    }

                    &:not(.active) {
                        &:hover {
                            background: rgba(0,0,0,.04);
                        }
                    }
                }
            }
        }
    }
}
